* {
font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
margin:0;
padding:0;
color:#87622a;
}

html {

}

body{
background:#e4bf7e ;
}


.page_margins{
/*
min-width:960px;
max-width:64em;
*/
background:#fff ;
width:960px;
position:relative;
margin:0px auto;
padding:16px 16px;
}





/*	1. H E A D E R
*/


#header{
background:url(../img/z30_1_gr.gif) right 120px no-repeat;
position:relative;
z-index:2;
}

#header .page_margins{
background:#e4bf7e
} 



h1{
position:relative;
top:20px;
text-indent:-9999px;
width:25%;
height:148px;
background:url(https://s.gr-assets.com/assets/home/header_logo-8d96d7078a3d63f9f31d92282fd67cf4.png) no-repeat 0 50px;
float:left;
}

#header h2{
font-size:7px;
position:absolute;
width:10%;
left:16px;
top:100px;
}

#header p{
width:104px;/*-->										Change in Elastic-Layout		*/
font-size:10px;
line-height:normal;
text-indent:0;
position:absolute;
top:32px;
left:256px;
line-height:12px;
font-family:Arial, Helvetica, sans-serif;
}


#header p + p{
top:20px;
left:376px;
}

#header p + p + p{
top:20px;
left:496px;
}

#header p + p + p + p{
top:20px;
left:616px;
}

#header p + p + p + p + p{
top:20px;
left:736px;
}

#header p + p + p + p + p +p{
top:20px;
left:856px;
}
